<div class="main">

  <h1 style="padding:15px">Tu carrito</h1>

  <hr />
  <hr />
  <div class="containers">

    {{#each p}}

      <p>Nombre producto {{this.name}}</p>

      <p>Precio unitario: $${{this.price}}</p>

      <p>Cantidad: x{{this.quantity}}</p>

      <hr />
      <hr />

    {{/each}}

    <p>Precio total: $${{totalPrice}}</p>

    <a href="/products" class="ahac">Back to Products</a>

    <button onclick="purchase('{{cart}}')" class="git-button">Terminar Compra</button>
  </div>

</div>

<script>
  async function purchase(cId){ const res = await
  fetch(`/api/carts/${cId}/purchase`, {method:"POST"}); const data = await
  res.json(); location.href = "/purchase-success?ticket="+data.data.ticket.code;
  }
</script>