<div class="main">
  <div class="containers" style="margin-top: 50px;">
    <p>Nombre: {{p.name}}</p>

    <p>Descripcion: {{p.description}}</p>

    <p>$${{p.price}}</p>

    <p>Categoria: {{p.category}}</p>

    <p>Stock: {{p.stock}}</p>
    <button class="git-button">Add To Cart</button>

  </div>
  <a href="/products" class="ahac">Back to Products</a>
</div>