<div class="main">
  <h1>Welcome {{session.sessionDataName}}, eres un {{session.sessionAuth}}!</h1>

  <a href="/logout" class="logOut">LogOut</a>
  <a href="/carts/{{session.sessionCart}}" class="logOut">Cart</a>

  <div class="shop">

    {{#each p}}

      <div class="containers">
        <p>Name: {{this.name}}</p>

        <p>Description: {{this.description}}</p>

        <p>Price: {{this.price}}</p>

        <hr class="separator" />

        <button
          onclick="addProductToCart('{{this._id}}','{{this.sessionCart}}')"
          class="add-button"
        >Add To pouch</button>

        <a href="/productDetail/{{this._id}}" class="ahac">More Details</a>

      </div>
    {{/each}}
  </div>

  <div class="botonera">
    Total pages:{{totalPages}}

    <hr />
    <hr />

    {{prevPage}}
    {{#if hasPrevPage}}
      <a href="/products/?page={{prevPage}}">⬅️</a>
    {{/if}}
    {{page}}
    {{#if hasNextPage}}
      <a href="/products/?page={{nextPage}}">➡️</a>
    {{/if}}
    {{nextPage}}
  </div>

</div>

<script>
  async function addProductToCart(pId, cId){ await
  fetch(`/api/carts/${cId}/product/${pId}`, {method:"POST"}); location.reload()
  }
</script>